Repository w3c/epub-specs, pull requests merged in 2025-09, with the labels that each got.

#2781 Used subsections for annotations; used he/she for persons
  wg-notes/annotations-ucr/index.html
Labels: Type-Editorial, Spec-AnnotationsUCR

#2771 Made the changes on CSS management discussed in the issue 2762
  epub34/authoring/index.html
  epub34/rs/index.html
Labels: Spec-EPUB3, Spec-ReadingSystems

#2787 Add note about use of URLs in evaluator credential
  epub34/a11y/index.html
Labels: Spec-Accessibility

#2776 Updates to FXL A11y
  wg-notes/fxl-a11y/index.html
Labels: Spec-FXL-A11y
